@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-ExtraBold.ttf);
    font-weight:800;
}
@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-Bold.ttf);
    font-weight:700;
}
@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-DemiBold.ttf);
    font-weight:600;
}
@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-Medium.ttf);
    font-weight:500;
}
@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-Normal.ttf);
    font-weight:400;
}
@font-face {
    font-family: "acticulat";
    src: url(../fonts/ArticulatCF-Light.ttf);
    font-weight:300;
}
